html {
	height:100%;
}

body {

	/*background-color: yellow; */
	background: -webkit-linear-gradient(yellow, #FE2E2E); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(yellow, #FE2E2E); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(yellow, #FE2E2E); /* For Firefox 3.6 to 15 */
    background: linear-gradient(yellow, yellow); /* Standard syntax (must be last) */
   /*
    background-repeat: no-repeat;
    */
}

li {
	padding:2px;
	font-size: 1.3em;
}

#title {
	font-family: helvetica;
}

#logout {
	display:none;
}

#user_info {
	font-size: 1.1em;
	float:right;
}

#bowlers_heading {
  padding:10px;
}

#signup_msg, #login_msg, #initialize_msg {
	color:red;
}

.footer {
    font-size: 1.2em;
    margin-top: 35%;
    /*position:relative;
    left:41%; */
}

 .display, .display_bowlers, .buy_tickets {
   display: none;
   position: relative;
   left:14%;
   margin-top:2%;
   height:20%;
   width:70%;
   background-color: white;
   border-radius: 15px;
   line-height: 25px;

}

.display_lotte {
   display: none;
   position: relative;
   left:14%;
   margin-top:2%;
   height:20%;
   width:70%;
   background-color: white;
   border-radius: 15px;
   line-height: 25px;

}


/*
.display_lotteries  {

	height:20%;
	width:70%;
	background-color: white;
} */

#intro {
	padding: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-size: 1.2em;
}

#icon {
	position:relative;
	left:1%;
}

#createuser {
	display:none;
    position:relative;
    left:31%;
	height:30%;
	max-width:40%;
}

#loginuser {
	display:none;
    position:relative;
    left:31%;
	height:30%;
	max-width:40%;
 
}

.initialize_balance {
   display: none;
   position:relative;
   left:31%;
   height:20%;
   width:40%;
}


.buy_tickets {
    line-height: 25px;
	padding:10px;
}

#bowler_list {
	list-style: none;
	padding-top: 10px;
}

span.players {

	font-size: 1.2em;
  font-family: "Comic Sans MS", cursive, sans-serif;
	padding: 3px;
}

tr.first_row {
	margin-top:5px;
	font-size: 1.3em;
	font-style: bold;
}

tr.rows, tr.row0 {
	font-size: 1.2em;
}

table#history_table {
	display:none;
}

/* Below is the animation related to title words */
@keyframes moving {

  50%{
    -webkit-transform: translate(0px,-8px);  
    transform: translate(0px,-8px);
  }

  100% {
    -webkit-transform: translate(0px,0px); 
    transform: translate(0px,0px);
  }
}

.moving {
  -webkit-animation-name: moving;
          animation-name: moving;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

.animated {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
